const client_id = "";
const client_secret = "";
const username = "";
const password = "";
const dbpassword = "";
const dbuser = "";

module.exports = [client_id, client_secret, username, password, dbpassword, dbuser];
